/*body {*/
/*  background-image: linear-gradient(0deg, #79D2BF, #4062BF);*/
/*  background-repeat: no-repeat;*/
/*}*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  background: linear-gradient(0deg, #79D2BF, #4062BF) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}